<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - PYQs HUB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include 'components/nav.html' %}

    <img src="{{ url_for('static', filename='images/invertis_cover.jpeg') }}" class="cover-img"
        alt="Invertis University Cover">

    <div class="about-section">
        <div class="content">
            <h2>Overview & History ──</h2>
            <p>
                Invertis University, Bareilly is one of the best private
                universities in India that focuses on holistic life skills,
                professional development, and high-quality education to
                produce exceptional students who consistently achieve
                outstanding academic results.
            </p>
            <p>
                Through a powerful combination of experiential learning,
                interactions with industry leaders, exposure to best practices,
                and inspired teaching from faculty with strong academic
                credentials, the University provides students with the
                opportunity to develop mastery of their subject.
            </p>
            <p>
                We offer a range of Doctoral, Post Graduate, Undergraduate & Diploma programmes in Engineering &
                Technology, Management,
                Computer Applications, Food Technology, Law, Education, Journalism & Mass Communication,
                Bio-Science & Commerce, Pharmacy, Technology, Science, Fashion Design and Agriculture.
            </p>
        </div>

        <div class="image">
            <img src="{{ url_for('static', filename='images/university_about.jpg') }}" alt="University">
        </div>
    </div>

    <hr>
    <div class="content1">
        <h2>Vision & Mission ──</h2>
    </div>

    <div class="vision-mission">
        <img src="{{ url_for('static', filename='images/campus_life_1.jpg') }}" class="img-fluid" alt="Campus Life">
        <img src="{{ url_for('static', filename='images/campus_life_2.png') }}" class="img-fluid img2"
            alt="Students">
    </div>
    <hr>

    <div class="about-section">
        <div>
            <h2>Strengths ──</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body1">
                            <h5 class="card-title">Quality of Education</h5>
                            <p class="card-text">We are committed to providing students with quality education and
                                reliable academic resources that support their learning and overall development.
                                Our platform offers previous year question papers, study materials, important questions,
                                and other useful resources to help students understand exam patterns,
                                focus on important topics, practice effectively, and prepare with confidence. We aim to
                                make education more accessible, convenient,
                                and student-friendly while helping students achieve their academic goals and build a
                                strong foundation for their future careers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body1">
                            <h5 class="card-title">Research Opportunities</h5>
                            <p class="card-text">We believe in promoting quality research that encourages innovation,
                                creativity, and the discovery of new knowledge. Our aim is to support meaningful
                                research in engineering, science, management, and humanities while developing critical
                                thinking and practical solutions. Through research and collaboration, we strive to
                                contribute valuable ideas that address real-world challenges and benefit society.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body1">
                            <h5 class="card-title">Experienced Faculty</h5>
                            <p class="card-text">Our faculty members come from diverse educational and professional
                                backgrounds, bringing valuable knowledge, experience, and practical insights to the
                                classroom. Their expertise helps students understand concepts more effectively, develop
                                critical thinking skills, and gain practical knowledge that prepares them for academic
                                success and future career opportunities
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body1">
                            <h5 class="card-title">Industry and Academic Collaborations</h5>
                            <p class="card-text">We have established strong industry connections with reputed companies,
                                providing students with valuable exposure to real-world practices and career
                                opportunities. We also promote student exchange programmes with internationally
                                recognized universities and colleges, enabling students to gain global exposure,
                                experience diverse learning environments, and broaden their academic and professional
                                perspectives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="about-section">
        <div>
            <h2>Career & Placement Opportunities ──</h2>
            <div class="card bg-dark text-white intercard">
                <img src="{{ url_for('static', filename='images/overview_img.webp') }}" class="card-img" alt="Placement Day">
                <div class="card-img-overlay">
                    <h5 class="card-title">Placement Day</h5>
                    <p class="card-text">Invertis University’s Placement Day celebrates the achievements and career
                        opportunities of its students, bringing together leading companies<br> and talented graduates on
                        one platform.<br> This year, students have achieved an impressive highest package of ₹41 LPA,
                        reflecting their skills, dedication, and industry readiness.<br> The event highlights the university’s
                        strong industry connections and continued commitment to building successful careers.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>