.about-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}



.content {
    width: 45%;
}

.content h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.content1 {
    width: 45%;
}

.content1 h2 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 50px;
}

.carousel {
    width: 47%;
    height: 450px;
    padding-left: 50px;
}

.img-fluid {
    width: 48%;
    height: 400px;
    object-fit: cover;
    padding-left: 50px;
    gap: 50px;
}

.image-container {
    position: relative;

}

.image-container img {
    display: inline-block;
}

.image-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 50px;
    text-align: center;
}

.card-body1 {
    width: 1400px;
    height: 120px;
    margin: 20px;
}

.row{
    padding-bottom: 20px;
    padding-top: 30px;
    gap: 20px;
}


.card{  
    width: 205%;
    border: 2px solid rgb(239, 234, 229);
    background-color: lab(97.47% -3.06 7.55);
}

.card-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text2{
    font-size: medium;
    font-family: cursive;
    font-weight: 300;
    color: hwb(17 95% 2%);
}

.card-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-img{
    height: 600px;
}

.intercard{
    margin-top: 50px;
    width: 1400px;
}