.pyq-page {
    padding: 60px 8%;
    background-color: #f5f7fb;
    min-height: 100vh;
}

.pyq-header {
    text-align: center;
    margin-bottom: 40px;
}

.pyq-header h1 {
    color: #061a40;
    font-size: 40px;
}

.pyq-header p {
    color: #666;
    font-size: 18px;
}

.pyq-header input {
    width: 500px;
    max-width: 90%;
    padding: 15px;
    margin-top: 25px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 16px;
}


/* Semester Filter */

.filter {
    text-align: center;
    margin-bottom: 40px;
}

.filter select {
    padding: 12px 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}


/* Heading */

.pyq-page h2 {
    color: #061a40;
    margin-bottom: 25px;
}


/* Papers */

.paper-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paper-card {
    background-color: white;

    padding: 25px;

    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 25px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.paper-card:hover {
    transform: translateY(-4px);
}

.paper-icon {
    font-size: 45px;
}

.paper-content {
    flex: 1;
}

.paper-content h3 {
    color: #061a40;
    margin-bottom: 8px;
}

.paper-content p {
    color: #666;
}


.paper-info {
    display: flex;
    gap: 20px;
    margin: 15px 0;
}

.paper-info span {
    color: #555;
    font-size: 14px;
}


/* Buttons */

.paper-buttons {
    display: flex;
    gap: 10px;
}

.paper-buttons a {
    text-decoration: none;
    padding: 9px 18px;
    border-radius: 5px;

    background-color: #061a40;
    color: white;
}

.paper-buttons a:last-child {
    background-color: #ff7a00;
}


/* Mobile */

@media (max-width: 600px) {

    .paper-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .paper-info {
        flex-direction: column;
        gap: 5px;
    }

    .paper-buttons {
        flex-direction: column;
        width: 100%;
    }

    .paper-buttons a {
        text-align: center;
    }
}