body {
    animation: pageAnimation 1s ease-out;
    background-color: hsl(65, 65%, 97%);
}

@keyframes pageAnimation {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
    padding-left: 470px;




}

.searchbtn {
    background-color: #ff7a00;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-items: left;
    width: 80px;
    height: 30px;
}








.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;



}


.card-body {
    padding: 20px;
    box-shadow: 4px 5px 4px hwb(204 11% 66% / 0.102);
    width: 28%;
    height: 650x;
    width: 450px;

}

.navbar{
    height: 60px;
}


.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.text-header {

    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.text-header span {
    color: #ff7a00;
}

.header {
    background: linear-gradient(135deg, #061a40, #0b3d91);
    padding: 20px;
    border: 2px solid #ff7a00;
    height: 60px;
}
.header-position{
    position: fixed;
}

.hub {
    color: whitesmoke;
}